#container {
    display: grid;
    background-color: #fff;
    color: #444;
    width: 50%;
    margin: 0 auto;
}
#form{
    align-content: center;
    align-items: center;
    margin-top: 50%;
}
#dimmer{
    align-content:center;
    width: 100%;
}
#form_title{
    text-align: center;
}